/* Fuentes personalizadas */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/inter-v20-latin-regular.woff2) format("woff2");
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url(/assets/fonts/inter-v20-latin-700.woff2) format("woff2");
}

/* Estilos base y animaciones de entrada */
body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

/* Estilos para la navegación SPA */
.content-fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Animaciones de scroll */
.animate-on-scroll {
    opacity: 0;
    transition: opacity .6s ease-out, transform .6s ease-out;
    transform: translateY(20px);
}

.animate-on-scroll.is-visible {
    opacity: 1;
    transform: translateY(0);
}

/* Estilos de componentes personalizados */
.nav-link[aria-current="page"],
.nav-link-mobile[aria-current="page"] {
    font-weight: 700;
    color: #c2410c; /* orange-700 */
}

.input-error {
    border-color: #dc2626; /* red-600 */
}
.input-error:focus {
    --tw-ring-color: #dc2626;
}

/* Ocultar el badge de reCAPTCHA */
.grecaptcha-badge {
    visibility: hidden;
}

.back-to-top-button {
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.3s;
}

.back-to-top-button.is-visible {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}